@page "/staff"
@inject StaffSessionService StaffSession
@inject QueueRealtimeService Realtime

<PageTitle>Staff Console</PageTitle>

<main class="staff-console">
    @if (!StaffSession.IsSignedIn)
    {
        <StaffSignIn OnSignedIn="StateHasChanged" />
    }
    else
    {
        <QueueConsole />
    }
</main>

@code {
    protected override async Task OnInitializedAsync() => await Realtime.StartAsync();
}
