@import '../../shared/src/theme.css';

html, body {
  font-size: 18px; /* Slightly larger for kiosk */
}

/* Make kiosk buttons large and full width */
.primary-button, .secondary-button {
  width: 100%;
  min-height: 4rem;
  font-size: 1.25rem;
  margin-top: 1rem;
}

